## Loops Statement
1. while loop
2. for loop
3. nested loop
4. Loop control(Break, continue, pass)

In [3]:
Joining_age = 25
while Joining_age<=60:
  print(Joining_age)
  Joining_age=Joining_age+1

else:
  print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [4]:
total_amount=1000
while total_amount!=0:
  print(total_amount)
  total_amount=total_amount-100
else:
  print("Put more money bank people")

print("Hello All")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people
Hello All

In [37]:
n=7

for i in range(0,n):
  for j in range(0,i+1):
      print("*",end=" ")
  print("\n""\r")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [1]:
fruits_list = ["Mango", "Cherry", "Apple", "Papaya", "Banana"]

In [2]:
for i in fruits_list:
  if i=="Apple":
    print("The fruit is apple")
    break
  print(i)

Mango
Cherry
The fruit is apple

In [3]:
for i in fruits_list:
  if i=="Apple":
    print("The fruit is apple")
    pass
  print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [4]:
for i in fruits_list:
  if i=="Apple":
    print("The fruit is apple")
    continue
  print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana