In [1]:
name = 'Raj'

In [2]:
name

'Raj'

In [3]:
name = "Raj"
age = 32
print("My name is {} and age is {}".format(name,age))

My name is Raj and age is 32

In [4]:
name = "Raj"
age = 32
print("My name is {} and age is {}".format(age, name))

My name is 32 and age is Raj

In [8]:
#placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age, firstname=name))

My name is Raj and age is 32

In [10]:
name = "Raj Taksale"
age = 32
degree = "BE"
print("My age is {firstage} and i have completed: my degree of {firstdegree} with the name of {firstname}".format(firstage=age, firstname=name, firstdegree=degree))

My age is 32 and i have completed: my degree of BE with the name of Raj Taksale

In [12]:
name = "Raj Taksale"
age = 32
degree = "BE"
print("My age is {} and i have completed: my degree {} with the name of {}".format(age, degree, name))

My age is 32 and i have completed: my degree BE with the name of Raj Taksale

In [13]:
input()

32

'32'

In [18]:
age = int(input("Enter your age"))
if age >=18 and age <=45:
  print("You are young blood")
else:
  print("You are not young blood")

Enter your age46
You are not young blood

In [47]:
productprice = int(input("Enter the product price"))
if productprice>1000:
  discount_percentage = 20
  discount_amount = discount_percentage / 100 * productprice
  discount_price = productprice - discount_amount
  print("The product price after 20% discount:",discount_price)
if productprice<1000:
  discount_percentage = 30
  discount_amount = discount_percentage / 100 * productprice
  discount_price = productprice - discount_amount
  print("The product price after 30% discount:",discount_price)

Enter the product price500
The product price after 30% discount: 350.0

In [3]:
product_price = int(input("Enter the product price"))
if product_price>1000:
  print("The price of the product is {}".format(product_price*0.8))
else:
  print("The price of the product is {}".format(product_price*0.7))

Enter the product price500
The price of the product is 350.0

In [2]:
product_price = int(input("Enter the price"))
if product_price>3000:
  print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
  print(f"The price of the product is {product_price*0.7}")
else:
  print("The price of the product is {}".format(product_price*0.6))

Enter the price1000
The price of the product is 600.0